#myButton {
	display:  none
}

#principal {
  width: 60%;
}

#logoutAddProperty {
	position: fixed;
    left: 75.5%;
		top:5px;
}

#menuBar {
  position: absolute;
  left: 10%;
  right: 10%;
}

#addPropertyInAddProperty{
	position: fixed;
    left: 67%;
		top:5px;
}
