#signup {
	position: relative;
    left: 60%;
		top: 5px;
}

#login {
	position: relative;
    left: 62%;
		top: 5px;
}

body {
	background-color: lightblue;
	background-repeat: no-repeat;
	background-position: 50% 80%;
	background-image: url("../images/backgroundHomePage.png");
}
